.dummy {
  font-size: 120%;
}
.dummy_div {
  text-align: center;
}
.big_letdown {
  text-align: center;
  padding: 10px
}
.houston {
  text-align: center;
  padding: 20px;
  color: blue;
  font-size: 250px;
}